.lead__subtitle {
  max-width: 640px;
  padding: 32px 0 0;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 22px;
    line-height: 24px;
    padding: 16px 0 0;
    width: 70%;
  }
}

@media screen and (max-width: 566px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    padding: 16px 0 0;
    width: 288px;
  }
}
