.cover {
  margin: 92px 48px;
  width: calc(100% - 96px);
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 92px 0;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px 0 88px 0;
  }
}
@media screen and (max-width: 570px) {
  .cover {
    margin: 66px 0 64px 0;
    gap: 16px 0;
  }
}
